<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro.tacoteam.keztapazando">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainWall"
            android:label="@string/title_activity_main_wall"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WriteMessage" />
        <activity android:name=".SearchFriend" />
        <activity android:name=".FriendListActivity" />
        <activity android:name=".AddFriendActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".DescripcionMensajeActivity"></activity>
    </application>

</manifest>